// ==========================================================================
// Club Getup: Base Styles
// ==========================================================================

// --------------------------------------------------------------------------
// Box Sizing
// --------------------------------------------------------------------------

* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

// --------------------------------------------------------------------------
// Body
// --------------------------------------------------------------------------

body {
  padding: 0;
}

// --------------------------------------------------------------------------
// Container
// --------------------------------------------------------------------------

.container {
  margin-right: auto;
  margin-left: auto;
}
