// ==========================================================================
// Club Getup: Utility Classes
// ==========================================================================

// --------------------------------------------------------------------------
// Text Alignment
// --------------------------------------------------------------------------

.text-left   { text-align: left; }
.text-center { text-align: center; }
.text-right  { text-align: right; }

// --------------------------------------------------------------------------
// Floats
// --------------------------------------------------------------------------

.pull-right { float: right; }
.pull-left  { float: left; }

// --------------------------------------------------------------------------
// Clearfix
// --------------------------------------------------------------------------

%clearfix {
  &:after {
    clear: both;
  }

  &:after,
  &:before {
    display: table;
    content: " ";
  }
}

// --------------------------------------------------------------------------
// Visually Hidden
// --------------------------------------------------------------------------

.visuallyhidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
}
