/* ==========================================================================
 * Club Getup: Base Styles
 * ========================================================================== */

* {
  &, &:before, &:after {
    box-sizing: border-box;
  }
}

body {
  margin: 0;
  padding: 0;
}
