// Baseclass
.icon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: "";
  font-style: normal;
  font-weight: nromal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-x { &:before { content: "\2a"; } }