@mixin clearfix() {
  &:after {
    clear: both;
  }

  &:after, &:before {
    display: table;
    content: "";
  }
}

@mixin container($width) {
  .section-container { max-width: $width }
}

@mixin grid-columns($prefix, $columns) {
  @for $i from 1 through $columns {
    .#{$prefix}-#{$i} { @include grid-column($i, (100% / $columns)); }
  }
}

@mixin grid-column($span, $column-width) {
  width: $span * $column-width;
}