/* ==========================================================================
 * Club Getup: Typography
 * ========================================================================== */

body, input, textarea {
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
}

body {
  line-height: $line-height;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-headings;
}

a {
  text-decoration: none;
  color: $brand-primary;
}
