// ========================================================================== //
// Club Getup: Icons
// ========================================================================== //

%icon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-weight: nromal;
  font-style: normal;
  font-family: '';
  line-height: 1;
  font-smoothing: antialiased;
}

// .icon-x { &:before { content: "\2a"; } }
