.alert {
  padding: $elementPaddingLarge;
  border: 1px solid;
  @include border-radius($borderRadius);

  :last-child {
    margin-bottom: 0;
  }
}

.alert-info {
  border-color: $infoBorder;
  background-color: $infoBackground;
  color: $infoText;
}

.alert-warning {
  border-color: $warningBorder;
  background-color: $warningBackground;
  color: $warningText;
}

.alert-success {
  border-color: $successBorder;
  background-color: $successBackground;
  color: $successText;
}

.alert-danger {
  border-color: $dangerBorder;
  background-color: $dangerBackground;
  color: $dangerText;
}
