/* ==========================================================================
 * 7. Forms
 * ========================================================================== */

/* --------------------------------------------------------------------------
 * Allow only vertical resizing of textareas
 * -------------------------------------------------------------------------- */

input:focus {
    outline: 0;
}

textarea {
    resize: vertical;
}

/* --------------------------------------------------------------------------
 * General Form Styling
 * -------------------------------------------------------------------------- */

select,
input[type="text"],
input[type="password"],
input[type="search"],
input[type="telephone"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="time"],
input[type="date"],
textarea {
    @include box-sizing(border-box);
    width: 100%;
    margin-bottom: $fontSize * 1.25;
    padding: $elementPadding;
    border: 1px solid $border;
    line-height: $lineHeight;
    vertical-align: middle;
    @include border-radius($borderRadius);

    &.large {
        padding: $elementPaddingLarge;
    }

}

select {
    height: $fontSize * 2.5;
}

form label {
    display: block;
    vertical-align: middle;
    margin-bottom: $fontSize * 0.25;
}

/* --------------------------------------------------------------------------
 * Horizontal Forms
 * -------------------------------------------------------------------------- */

.field-horizontal {
    margin-bottom: $fontSize * 1.25;

    label {
        display: inline-block;
        margin: 0;
        padding-left: 0;
        padding-right: 10px;
        vertical-align: middle;
    }

    input {
        display: inline-block;
        margin-bottom: 0;
    }

}

/* --------------------------------------------------------------------------
 * Form Input Groups
 * -------------------------------------------------------------------------- */

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;

    .form-control {
        margin-bottom: 0;
    }

    .input-group-addon,
    .input-group .form-control {
        display: table-cell;
    }

    .input-group-addon {
        padding: $elementPadding;
        border: 1px solid $border;
        line-height: $lineHeight;
        vertical-align: middle;
        background-color: $grayLighter;
        @include border-radius($borderRadius);

        &:not(:first-child):not(:last-child) {
            @include border-radius(0);
        }

    }

}

.input-group-addon,
.input-group .form-control {

    &:first-child {
        border-right: 0;
        @include border-right-radius(0);
    }

    &:last-child {
        @include border-left-radius(0);
    }

}
