/* ==========================================================================
 * 9. Layout
 * ========================================================================== */

.container {
    padding-left: 20px;
    padding-right: 20px;
}

/* --------------------------------------------------------------------------
 * Generate Standard Grid
 * -------------------------------------------------------------------------- */

[class*="span"]{
    margin-bottom: 20px;
}

/* --------------------------------------------------------------------------
 * Thumbnails
 * -------------------------------------------------------------------------- */

 .thumbnail {
    @include transition(all .2s ease-in-out);

    > img {
        @include image-responsive();
    }

 }