/* ==========================================================================
 * 6. Navigation
 * ========================================================================== */

/* --------------------------------------------------------------------------
 * Basic Navigation
 * -------------------------------------------------------------------------- */

.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    @include clearfix();

    > li {
        position: relative;
        display: block;

        > a {
            position: relative;
            display: block;
            padding: $elementPadding;
        }

        &.disabled > a {
            color: $grayLight;

            &:hover,
            &:focus {
                color: $grayLight;
                text-decoration: none;
                background-color: transparent;
                cursor: not-allowed;
            }

        }

    }

}

/* --------------------------------------------------------------------------
 * Site Navigation
 * -------------------------------------------------------------------------- */

.nav-toggle {
    display: block;
    width: 24px;
    height: 14px;
    padding: 10px;
    background-color: $grayLighter;
    @include border-radius();

    i {
        display: block;
        height: 2px;
        margin-bottom: 4px;
        background-color: $grayLight;
        @include border-radius(1px);
    }

}

.nav-main {
    display: none;
    margin-left: -$containerPadding;
    margin-right: -$containerPadding;

    > li {

        > a {
            padding-top: $containerPadding / 2;
            padding-bottom: $containerPadding / 2;
            padding-left: $containerPadding;
            padding-right: $containerPadding;

            &:hover {

            }

        }

        &.active > a {

        }

    }

}

/* --------------------------------------------------------------------------
 * Navigation Tabs
 * -------------------------------------------------------------------------- */

.nav-tabs {
    border-bottom: 1px solid $border;

    > li {
        float: left;
        margin-bottom: -1px;

        > a {
            margin-right: 2px;
            padding: $elementPaddingLarge;
            line-height: $lineHeight;
            border: 1px solid transparent;
            @include border-radius($borderRadius $borderRadius 0 0);
        }

        &.active > a {
            background-color: $activeTabBackground;
            border-color: $border;
            border-bottom-color: transparent;
            cursor: default;
        }

    }

}

/* --------------------------------------------------------------------------
 * Navigation Pills
 * -------------------------------------------------------------------------- */

.nav-pills {

    > li {
        float: left;

        > a {
            margin-right: 20px;
        }

        &.active > a {
            background-color: $linkColour;
            color: $white;
            @include border-radius($borderRadius);
        }

    }

}