/* ==========================================================================
 * 1. Variables
 * ========================================================================== */

/*
 * 1.1   Shades
 * 1.2   Core Colours
 * 1.3   Links
 * 1.4   Scaffolding
 * 1.5   Typography
 * 1.6   Forms
 * 1.7   States & Alerts
 * 1.8   Grid System
 * 1.8.1 Grid System - Fluid
 * 1.9   Typography
 * 1.10  Border Radius
 * 1.11  Navigation
 * 1.12  Icon Sizes
 * -------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------
 * 1.1 Shades
 * -------------------------------------------------------------------------- */

$black:                 #000 !default;
$grayDarker:            #222 !default;
$grayDark:              #333 !default;
$gray:                  #555 !default;
$grayLight:             #999 !default;
$grayLighter:           #ddd !default;
$white:                 #fff !default;

/* --------------------------------------------------------------------------
 * 1.2 Core Colours
 * -------------------------------------------------------------------------- */

$main:                  teal !default;
$alt:                   red !default;
$border:                #ccc !default;

/* --------------------------------------------------------------------------
 * 1.3 Links
 * -------------------------------------------------------------------------- */

$linkDecoration:        none !default;
$linkColour:            teal !default;

/* --------------------------------------------------------------------------
 * 1.4 Scaffolding
 * -------------------------------------------------------------------------- */

$bodyBackground:        #fff !default;
$textColour:            #444 !default;
$containerPadding:      20px !default;

/* --------------------------------------------------------------------------
 * 1.5 Typography
 * -------------------------------------------------------------------------- */

$fontSansSerif:         'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$fontSerif:             Georgia, Times, serif !default;
$fontHeadings:          inherit !default;

$fontSize:              16px !default;
$lineHeight:            1.4 !default;

$fontSizeLarge:         $fontSize * 1.25 !default; // 15px
$fontSizeSmall:         $fontSize * 0.75 !default; // 9px
$fontSizeMini:          $fontSize * 0.5 !default;  // 6px

/* --------------------------------------------------------------------------
 * 1.6 Forms
 * -------------------------------------------------------------------------- */

$inputBackground:       $white !default;
$inputBorder:           $border !default;
$inputHeight:           $fontSize !default;
$placeholderText:       $grayLight !default;

/* --------------------------------------------------------------------------
 * 1.7 States & Alerts
 * -------------------------------------------------------------------------- */

$warningText:           #c09853 !default;
$warningBackground:     #fcf8e3 !default;
$warningBorder:         darken(adjust-hue($warningBackground, -10), 3%) !default;

$dangerText:             #b94a48 !default;
$dangerBackground:       #f2dede !default;
$dangerBorder:           darken(adjust-hue($dangerBackground, -10), 3%) !default;

$successText:           #468847 !default;
$successBackground:     #dff0d8 !default;
$successBorder:         darken(adjust-hue($successBackground, -10), 5%) !default;

$infoText:              #3a87ad !default;
$infoBackground:        #d9edf7 !default;
$infoBorder:            darken(adjust-hue($infoBackground, -10), 5%) !default;

/* --------------------------------------------------------------------------
 * 1.8 Grid System
 * -------------------------------------------------------------------------- */

$gridColumns:           12 !default;
$gridColumnWidth:       60px !default;
$gridGutterWidth:       20px !default;
$gridRowWidth:          ($gridColumns * $gridColumnWidth) + ($gridGutterWidth * ($gridColumns - 1)) !default;

/* --------------------------------------------------------------------------
 * 1.8.1 Grid System (Fluid)
 * -------------------------------------------------------------------------- */

$fluidGridColumnWidth:  percentage($gridColumnWidth/$gridRowWidth) !default;
$fluidGridGutterWidth:  percentage($gridGutterWidth/$gridRowWidth) !default;

/* --------------------------------------------------------------------------
 * 1.9 Typography
 * -------------------------------------------------------------------------- */

$elementPadding:        6px 10px !default;
$elementPaddingLarge:   15px 20px !default;
$elementPaddingSmall:   4px 6px !default;
$elementPaddingXSmall:  2px 4px !default;

/* --------------------------------------------------------------------------
 * 1.10 Border Radius
 * -------------------------------------------------------------------------- */

$borderRadius:          2px !default;

/* --------------------------------------------------------------------------
 * 1.11 Navigation
 * -------------------------------------------------------------------------- */

$activeTabBackground:   $white !default;

/* --------------------------------------------------------------------------
 * 1.12 Icon Sizes
 * -------------------------------------------------------------------------- */

$iconSizeSm:            16px !default;
$iconSize:              22px !default;
$iconSizeLg:            32px !default;
